.dish-container {
  width: 99.6%;
  height: 58%;
  position: absolute;
  left: 50%;
  margin-left: -49.8%;
}

.dish-container .dish-label {
  text-align: left;
}

.dish-label button {
  background-color: rgb(255, 85, 34);
  color: #080024;
  padding: 1rem 4.2rem;
  border-radius: 1rem;
  margin-top: 0.5rem;
  font-size: 1.6rem;
}

.edit-dish-label button {
  background-color: rgb(255, 85, 34);
  color: #080024;
  padding: 0 0.8rem;
  border-radius: 1rem;
  margin-top: 0.5rem;
  font-size: 1.3rem;
}

.order-label button{
  background-color: #17a2b8;
  border-radius: 1rem;
  margin-top: -0.3rem;
  font-size: 1.2rem;
}

.order-list-label button{
  border-radius: 1rem;
  font-size: 1.2rem;
}