.group-button {
  width: 235px;
  height: 66px;
  font-size: 30px;
}
.group-label {
  width: 300px;
  height: 66px;
  font-size: 30px;
}
.group-cardtext {
  background-color: #48bdff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 10px;
}
.group-container {
  width: 98%;
  height: 58%;
  position: absolute;
  left: 1%;
}
.text-center-group {
  width: 70%;
  height: 60%;
  position: absolute;
  left: 15%;
  background-color: #ffe500;
  margin-top: 15px;
  border-radius: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.text-center-order {
  width: 70%;
  height: 60%;
  position: absolute;
  left: 15%;
  top: 100%;
  background-color: #ffe500;
  margin-top: 15px;
  border-radius: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.dish-label {
  font-size: 25px ;
}
.dish-label-quantity.col {
  margin-left: -1rem;
  margin-right: 1.2rem;
}
.order-label{
  font-size: 22px;
}
.tab4{
  tab-size: 4;
}
.pre{
  font-size: 25px;
}

.edit-dish-list {
  background-color: #ffe500;

  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.modal-content {
  width: 100%;
}

@media (min-width: 576px){
  .modal-dialog {
    width: 53rem;
    max-width: 53rem;
    margin: 1.75rem auto;
}
}
