
.list-group-item {
  margin-bottom: 10px;
  background-color: #48bdff;
  padding-left: 0;
  padding-right: 0;
}

.landing-div {
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4rem;
  margin-left: -30rem;
  width: 60rem;
  height: 8rem;
}
