.group-button {
  width: 235px;
  height: 66px;
  font-size: 30px;
}
.group-card {
  width: 18rem;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  border-radius: 25px;
}
.group-cardtext {
  background-color: #48bdff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 10px;
}
.group-container {
  width: 1470px !important;
  height: 300px !important;
  position: absolute;
  left: 50%;
  margin-left: -735px;
}
.text-center {
  width: 1500px !important;
  height: 350px !important;
  position: absolute;
  left: 50%;
  margin-left: -750px;
  background-color: #ffe500;
  margin-top: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dish-label {
  font-size: 25px;
}

.list-group-item {
  margin-bottom: 10px;
  background-color: #48bdff;
  padding-left: 0;
  padding-right: 0;
}

.login-form {
  background-color: #ffe500;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8rem;
  margin-left: -10rem;
  size: auto;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
  padding-right: 3rem;
  padding-left: 3rem;
}
.login-form-label {
  display: block;
  text-align: center;
  font-size: 25px;
  margin-top: 2rem;
}
.login-form-control {
  width: 14rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  color: #000000;
  opacity: 0.8;
  border: 1px solid #000000;
}

.signup-form {
  background-color: #ffe500;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8rem;
  margin-left: -8rem;
  size: auto;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

.signup-form-lable {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.signup-form-textbox {
  width: 14rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  color: #000000;
  opacity: 0.8;
  border: 1px solid #000000;
}
.landing-div {
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4rem;
  margin-left: -30rem;
  width: 60rem;
  height: 8rem;
}
